<div class="login">

    <div class="inp-da">
        <h1>Login</h1>

        <div class="email">
            <input type="text" class="email-input" placeholder="E-mail">
            <div class="img">
                <img src="../../assets/imgs/login/ei_lock.png" alt="" height="60px" width="50px">
            </div>


        </div>

        <div class="password">
            <input type="text" class="email-input" placeholder="Password">

            <img src="../../assets/imgs/login/key.png" alt="" height="43px" width="50px">

        </div>

        <div class="text">
            <p><a href="">Register Here</a></p>
            <p><a href="">Forgot Password?</a></p>
        </div>
    </div>

    <div class="bottom">
        <button>
            <h2>Login</h2>
        </button>
        <p>
            Or Login Using
        </p>

        <div class="social">
            <a href=""><img src="../../assets/imgs/login/facebook.svg" alt=""></a>
            <a><img src="../../assets/imgs/login/google.svg" alt=""></a>
            <a><img src="../../assets/imgs/login/line (2).svg" alt=""></a>

        </div>

        <p>
            <a href="">Continue as Guest</a>
        </p>
    </div>

</div>