<div class="content-list2">
    <h1>Activity List</h1>



    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Activity Name</th>
          <th>Date</th>
          <th>Information</th>
          <th>Files</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>No</td>
          <td>Activity Name</td>
          <td>Date</td>
          <td>Information</td>
          <td>Files</td>
          <td>Status</td>
        </tr>
      </tbody>
      </table>
</div>