<div class="slider-content">
    <div class="text">
      <div class="left">
        <span>Current Activities</span>
      </div>
      <div class="right">
        <a href="/current-activities">
        <span>See More</span>
        <img src="../../../../assets/imgs/carousal/Vector.svg" alt="" width="">
      </a>
      </div>

    </div>
  
    <div class="slider-img" #slider>
      <img src="../../../../assets/imgs/Current Activities/Open UP 2024.svg" alt="">
      <img src="../../../../assets/imgs/Current Activities/Borcelle Volunteer Camp.svg" alt="">
      <img src="../../../../assets/imgs/Current Activities/Thynk Unlimited Volunteer Camp.svg" alt="">
      <img src="../../../../assets/imgs/Current Activities/Ingoude Company Volunteer Camp.svg" alt="">
      <img src="../../../../assets/imgs/Current Activities/VDEG’s 9th Volunteer Camp.svg" alt="">
      <img src="../../../../assets/imgs/Current Activities/Graduation.svg" alt="">
    </div>
  </div>
  