<!-- <p>sign-fotm works!</p> -->
<div class="content">
    <div class="head">
        <h1>Signup Form</h1>
    </div>

    <div class="form">
        <!-- บน -->
        <div class="top">
            <input type="text" placeholder="FirstName">
            <input type="text" placeholder="lastName">
        </div>

        <!-- ล่าง -->
        <div class="bottom">
        <input type="text" placeholder="Phone Number">
        <input type="text" placeholder="Allergies">

        <input type="text" placeholder="Medical History">
        <input type="text" placeholder="Emergency Contact">
        </div>


    </div>
   
        <button>Signup</button>
    
</div>