<div class="content">
    <div class="total">
        <h2>Current Activities</h2>
        <div class="data">


            <div class="box">
                <img src="../../../../../assets/imgs/Current Activities/Graduation.svg" alt="Description of image">
                <div class="discipstion">
                    <h3>Graduation</h3>
                    <p>The graduation ceremony celebrates the achievements of
                        <br> students reaching an academic milestone. The
                        event features
                        <br>
                        speeches, the awarding of diplomas, and moments of
                        <br> reflection and joy. Graduates,
                        dressed in caps and gowns, are
                        <br>honored for their hard work and are 
                        encouraged to embrace
                        <br>their
                        future opportunities.
                    </p>
                </div>
            </div>
            <div class="line">

            </div>
        </div>
        <div class="data">


            <div class="box">
                <img src="../../../../../assets/imgs/Current Activities/VDEG’s 9th Volunteer Camp.svg" alt="Description of image">

                <div class="discipstion">
                    <h3>VDEG’s 9th Volunteer Camp</h3>
                    <p>VDEG’s 9th Volunteer Camp brings together dedicated
                        <br>volunteers for a dynamic and inspiring experience.
                        <br> Participants engage in collaborative activities, community
                        <br>service projects, and team-building exercises. The camp
                        <br>fosters a spirit of camaraderie and personal growth while
                        <br>making a positive impact on the community. It’s a
                        <br>celebration of commitment, teamwork, and the joy of giving back.
                    </p>
                </div>
            </div>
            <div class="line">

            </div>
        </div>
        <div class="data">


            <div class="box">
                <img src="../../../../../assets/imgs/Current Activities/International Volunteer Day.svg" alt="Description of image">

                <div class="discipstion">
                    <h3>International Volunteer Day</h3>
                    <p>
                        <br>International Volunteer Day honors the dedication and
                        <br> impact of volunteers worldwide. Celebrated through events
                        <br> and activities, it highlights the essential role of volunteers in
                        <br> communities, showcasing their efforts and inspiring others to
                        <br> get involved. The day is a tribute to their selfless
                        <br> contributions and the positive changes they bring to the
                        <br>world.
                    </p>
                </div>
            </div>
            <div class="line">

            </div>
        </div>
        <div class="data">


            <div class="box">
                <img src="../../../../../assets/imgs/Current Activities/Ingoude Company Volunteer Camp.svg" alt="Description of image">
                <div class="discipstion">
                    <h3>Ingoude Company Volunteer Camp</h3>
                    <p>The Ingoude Company Volunteer Camp is a vibrant gathering
                        <br> where members come together to engage in meaningful
                        <br> community service. The camp features collaborative projects,
                        <br> skill-building activities, and team bonding experiences. It’s an
                        <br> opportunity for participants to contribute to social causes
                        <br> while fostering a sense of teamwork and corporate
                        <br>responsibility.
                    </p>
                    <!-- <br>their future opportunities.</p> -->
                </div>
            </div>
            <div class="line">

            </div>
        </div>
        <div class="data">


            <div class="box">
                <img src="../../../../../assets/imgs/Current Activities/Open UP 2024.svg" alt="Description of image">
                <div class="discipstion">
                    <h3>Open UP 2024</h3>
                    <p>Open UP 2024 is an engaging event designed for those
                        <br> interested in becoming group members. The activity features
                        <br> interactive sessions, networking opportunities, and an
                        <br> introduction to the group's values and goals. It provides a
                        <br> welcoming environment for new members to connect, learn,
                        <br> and explore how they can contribute to and grow with the
                        <br> group.
                    <p>
                        <!-- <br>their future opportunities.</p> -->
                </div>
            </div>
            <div class="line">

            </div>
        </div>
        <div class="data">


            <div class="box">
                <img src="../../../../../assets/imgs/Current Activities/Borcelle Volunteer Camp.svg" alt="Description of image">
                <div class="discipstion">
                    <h3>Borcelle Volunteer Camp</h3>
                    <p>Borcelle Volunteer Camp is a dynamic event 
                        <br>where volunteers unite for impactful community
                         service and  
                         <br>personal growth. The camp features hands-on projects,
                         <br> team-building activities,and
                        educational sessions, all aimed 
                        <br> at fostering collaboration and making a positive
                        difference. 
                        <br>It’s anopportunity to contribute meaningfully while 
                        <br>developing skills and building connections.
                    </p>
                </div>
            </div>
            <div class="line">

            </div>
        </div>
        <div class="data">


            <div class="box">
                <img src="../../../../../assets/imgs/Current Activities/Thynk Unlimited Volunteer Camp.svg" alt="Description of image">
                <div class="discipstion">
                    <h3>Thynk Unlimited Volunteer Camp</h3>
                    <p>Thynk Unlimited Volunteer Camp is an inspiring event that
                        <br> brings together volunteers for impactful community service
                        <br> and personal development. Participants engage in
                        <br>meaningful projects, collaborative activities, and
                        <br>skill-building sessions, all designed to foster teamwork and
                        <br>creativity. The camp emphasizes making a difference while
                        <br>expanding horizons and connecting with like-minded individuals.
                    </p>
                </div>
            </div>
            <div class="line">

            </div>
        </div>

    </div>
</div>