<div class="login">

    <div class="inp-da">
        <h1>Reset your password</h1>

        <div class="email">
            <input type="text" class="email-input" placeholder="E-mail">

            <div class="img">
                <button>Resend OTP</button>
            </div>


        </div>

        <div class="password">
            <input type="text" class="email-input" placeholder="Password">
           

            

        </div>
        <div class="New-password">
            <input type="text" class="email-input" placeholder="New Password">
           

            

        </div>
        
    </div>

    <div class="bottom">
        <button>
            <h2>Submit</h2>
        </button>
        

</div>